node_modules/
www/
android/build/
android/.gradle/
android/app/build/
android/local.properties
android/app/release/
android/captures/
android/.idea/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
ios/App/App.xcworkspace/xcuserdata/
*.apk
*.ipa
*.aab
.DS_Store
.idea/
