{
    email admin@welldom05.ru
}

welldom05.ru, www.welldom05.ru {
    encode gzip zstd

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    handle /api/* {
        reverse_proxy api:8000
    }

    handle /health {
        reverse_proxy api:8000
    }

    handle {
        root * /srv/frontend
        try_files {path} /index.html
        file_server
    }
}
